/*Monton*/

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

/*Poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*Raleway*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-color: hsl(87, 23%, 93%);
  --dark-gray: hsl(0, 0%, 34%);
  --gray: hsl(180, 4%, 65%);
  --orange: hsl(14, 69%, 50%);
}

body {
  background-color: var(--main-color);
  
}

.app {
  padding: 2rem 1.5rem;
}

.app .title {
  text-align: center;
  padding-top: 1rem;
  font-family: "Monton";
}

.app h3 {
  color: var(--dark-gray);
  text-align: center;
  font-size: 0.7rem;
  color: var(--gray);
}

@media (min-width: 65rem) {
  .app {
    max-width: 1080px;
    margin: 0 auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.date {
  color: var(--gray);
  font-size: 0.8rem;
}

.social-icons {
  color: var(--gray);
  display: flex;
  gap: 1.4rem;
}

.mobil-menu {
  display: none;
  color: var(--gray);
}

@media (max-width: 40rem) {
  .mobil-menu, .mobil-menu > * {
    display: block;
  }
 .social-icons {
   display: none;
 }
}

img {
  max-width: 100%;
}

.mainheadline-wrapper {
padding: 2.3rem 0;
display: flex;
flex-direction: column;
gap: 0.8rem;
}

.headline-title {
  color: var(--dark-gray);
  font-family: "poppins";
}

.headline-description {
  color: var(--gray);
  font-family: "poppins";
}
.headline-time {
  color: var(--gray);
  opacity: 0.7;
}

hr {
  opacity: 0.5;
}

.headlines-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding-bottom: 0.5rem;
}

.headline-text {
  columns: var(--dark-gray);
  font-family: "poppins";
  opacity: 0.7;
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
}

.headline-img > img {
  max-width: 100%;
  border-radius: 15px;
}

.news-wrapper .latest {
  color: var(--orange);
  text-align: left;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Raleway";
  padding: 0.5rem 0;
}

.economy-inner-wrapper {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 1rem;
 
}

.economy-item h2 {
  padding-top: 0.7rem;
  font-size: 1rem;
  color: var(--gray);
  font-family: "poppins";
}

.economy-wrapper > .economy {
  color: var(--dark-gray);
  font-family: "poppins";
  font-weight: 700;
  
}

.images-wrapper {
  cursor: grab;
  overflow: hidden;
}
.inner-images {
display: flex;
min-height: 100%;
min-width: 100%;


}


.item{
 min-height: 100%;
min-width: 70%;
flex-basis: content;
flex: 1;
padding: 0.5rem;
}

